@font-face {
  font-family: 'HelveticaNeue-BoldItalic';
  src: url('HelveticaNeue-BoldItalic.eot');
  src: url('HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic') format('svg'),
       url('HelveticaNeue-BoldItalic.ttf') format('truetype'),
       url('HelveticaNeue-BoldItalic.woff') format('woff'),
       url('HelveticaNeue-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

