@font-face {
  font-family: 'HelveticaNeue-CondensedBlack';
  src: url('HelveticaNeue-CondensedBlack.eot');
  src: url('HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack') format('svg'),
       url('HelveticaNeue-CondensedBlack.ttf') format('truetype'),
       url('HelveticaNeue-CondensedBlack.woff') format('woff'),
       url('HelveticaNeue-CondensedBlack.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

